* {
padding: 0;
margin: 0;
}

body{
background-color:#EEEEEE ;

}

.navTable{
    height:50px;
    width: 250px;
    margin: 45px auto;
    background-color: #222831;
    border-radius: 15px;
    text-align: center;
}
.navTable td{
    width: 50%;
}

.navTable a{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    color: #00ADB5;
    display: inline-block;
    position: relative;
    transition-property: color;
    transition-duration: 0.5s;
    
}

.navTable a:hover{
color: white;
}

.container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 50px;
    justify-content: center;
    justify-items: center;
    color: #393E46;
    
}
.item{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-align: center;
    background-color: #00ADB5;
    border-style: solid;
    border-top-left-radius: 15px;
    border-width: 2px;
    border-color: #272343;
    margin: 50px;
    padding: 10px 50px 10px 50px;
    transition: transform .5s;
}

.item:hover{
    border-color: white;
    transform: scale(1.2);
}

.item a{
padding-top: 10px;
    color: #00ADB5;
    cursor:none;
    transition-property: color;
    transition-duration: 0.5s;
}


.item:hover a{
    cursor: pointer;
    color: #222831;
}



